body {
	font-size: 18px;
}
#titulo {
	display: inline-block;
	width: 30%;
	vertical-align: top;
}
nav {
	display: inline-block;
	width: 60%;
}

nav ul li {
	display: inline-block;
	width: 22%;
}

/*seccion de bienvenida*/
#bienvenida {
	font-size: 3em;
	background-image: url("../imagenes/portadas/portada4.jpg");
	line-height: 650px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.frase {
	display: inline-block;
	/*width: 300px; */
	width: 25%;
}

/*testimonios*/
#testimonio-gato{
	display: inline-block;
	width: 35%;
	vertical-align: top;
}

#testimonio-video{
	display: inline-block;
	width: 55%;
}
#suscribir {
	display: inline-block;
	width: 50%;
}
#siguenos{
	font-size: 0.7em;
	padding: .5em;
	display: inline-block;
	vertical-align: top;
	background:#FFFFFF;
	color: rgb(52, 52, 52);
	opacity:0.7;
	position: fixed;
	right: 12px;
	bottom:12px;
	text-align: center;
	padding: 0.2em;
/*esquinas redondas*/
	border-radius: 30px 0px 30px 0px;
/*safari y chrome*/
	-webkit-border-radius: 30px 0px 30px 0px;
/*firefox*/
	-moz-border-radius: 30px 0px 30px 0px;
/*sombras a las cajas*/
	box-shadow: 0px 0px 20px 5px #333;
	-moz-box-shadow: 0px 0px 20px 5px #333;
	-webkit-box-shadow: 0px 0px 20px 5px #333;
	-o-box-shadow: 0px 0px 20px 5px #333;
}
#bienvenida, .frase p{
	text-shadow: -3px 4px 3px #333;
}
.texto_sombreado{
	text-shadow: -3px 4px 3px #333;
}
/* pseudoselector */
header{
	padding-top: 0px;
	padding-bottom: 0px;
}
nav ul li a{
	padding: 1em;
}
.frase img:hover{
	-webkit-transform: scale(1.3);/*chrome*/
	-moz-transform: scale(1.3);/*firefox*/
	-o-transform: scale(1.3);/*opera*/
	-ms-transform: scale(1.3);/*IE*/
	transform: scale(1.3);
}
nav ul li a:hover{
	background-color: orange;
}
/*transiciones*/
.frase img, nav ul li a, #preview img, #siguenos div img{
	-webkit-transition: all 1.5s cubic-bezier(.77,.1,.31,.89) .2s;
	-moz-transition: all 1.5s cubic-bezier(.77,.1,.31,.89) .2s;
	-o-transition: all 1.5s cubic-bezier(.77,.1,.31,.89) .2s;
	transition: all 1.5s cubic-bezier(.77,.1,.31,.89) .2s;
}
/*transformacion*/
#preview img:hover{
	-webkit-transform: skewX(20deg);
	-moz-transform: skewX(20deg);
	-ms-transform: skewX(20deg);
	-o-transform: skewX(20deg);
	transform: skewX(20deg);
}
/* Ejercicio */
#siguenos div img:hover{
	-webkit-transform: rotate(-270deg);
	-moz-transform: rotate(-270deg);
	-ms-transform: rotate(-270deg);
	-o-transform: rotate(-270deg);
	transform: rotate(-270deg);
}












