{% extends "layout.html" %}

{% block contenido %}
        <section id="galeria">
            <div id="principal">
                <img src="../imagenes/galeria/principal1.jpg"/>
            </div>
            <div id="preview">
                <img data-ruta-principal="../imagenes/galeria/principal1.jpg" src="../imagenes/galeria/preview1.jpg"/>
                <img data-ruta-principal="../imagenes/galeria/principal2.jpg"src="../imagenes/galeria/preview2.jpg"/>
                <img data-ruta-principal="../imagenes/galeria/principal3.jpg"src="../imagenes/galeria/preview3.jpg"/>
            </div>
        </section>
{% endblock %}

