{% extends "layout.html" %}

{% block contenido %}
        <section id="bienvenida">
            Desarrollo ágil como un gato
        </section>
        <section id="frases">
            <div class="frase">
                <img src="../imagenes/movil.png"/>
                <p>
                    Móviles
                </p>
            </div>
            <div class="frase">
                <img src="../imagenes/seo.png"/>
                <p>
                    SEO
                </p>
            </div>
            <div class="frase">
                <img src="../imagenes/compu.png"/>
                <p>
                    Diseño
                </p>
            </div>
        </section>
        <section id="testimonios">
            <div id="testimonio-gato">
                <img src="../imagenes/testimonio.jpg"/>
                <p>
                    Excelente producto, mi vida es mejor desde entonces :)
                </p>
            </div>
            <div id="testimonio-video">
                <video controls="controls">
                    <source src="../videos/testimonio.webm" type="video/webm"/>
                    <source src="../videos/testimonio.mp4" type="video/mp4" />
                    <source src="../videos/testimonio.ogv" type="video/ogg" />
                    Tu navegador no soporta video
                </video>
            </div>
        </section>
  {% endblock %}